In [1]:
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bukachacha,RU,2022-09-21 04:04:40,52.9833,116.9167,53.26,49,36,7.07
1,1,Ushuaia,AR,2022-09-21 04:00:46,-54.8000,-68.3000,35.10,93,85,8.57
2,2,Bethel,US,2022-09-21 04:01:12,41.3712,-73.4140,63.75,78,0,3.94
3,3,Esperance,AU,2022-09-21 04:04:41,-33.8667,121.9000,67.26,50,0,11.23
4,4,Luancheng,CN,2022-09-21 04:04:41,37.8792,114.6517,79.29,37,2,6.58

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key = g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [15]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Luancheng,CN,2022-09-21 04:04:41,37.8792,114.6517,79.29,37,2,6.58
5,5,Tabou,CI,2022-09-21 04:04:42,4.4230,-7.3528,75.25,88,100,7.56
12,12,Cozumel,MX,2022-09-21 04:02:02,20.5083,-86.9458,76.95,92,10,7.31
15,15,Cabo San Lucas,MX,2022-09-21 04:00:02,22.8909,-109.9124,79.52,88,85,1.99
17,17,Vaini,TO,2022-09-21 04:04:46,-21.2000,-175.2000,75.36,88,75,9.22
18,18,Koumac,NC,2022-09-21 04:04:46,-20.5667,164.2833,78.80,71,9,10.22
21,21,Saint George,US,2022-09-21 04:01:02,37.1041,-113.5841,82.94,27,0,4.61
24,24,Isangel,VU,2022-09-21 04:04:49,-19.5500,169.2667,80.06,72,8,3.33
25,25,Kinablangan,PH,2022-09-21 04:04:49,7.6947,126.5503,85.46,70,94,5.97
26,26,Gao,ML,2022-09-21 04:01:50,16.6362,1.6370,82.20,63,10,10.22

In [28]:
preferred_cities_df.count()

City_ID       12
City          12
Country       12
Date          12
Lat           12
Lng           12
Max Temp      12
Humidity      12
Cloudiness    12
Wind Speed    12
dtype: int64

In [29]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4        Luancheng      CN     79.29  37.8792  114.6517
5            Tabou      CI     75.25   4.4230   -7.3528
12         Cozumel      MX     76.95  20.5083  -86.9458
15  Cabo San Lucas      MX     79.52  22.8909 -109.9124
17           Vaini      TO     75.36 -21.2000 -175.2000
18          Koumac      NC     78.80 -20.5667  164.2833
21    Saint George      US     82.94  37.1041 -113.5841
24         Isangel      VU     80.06 -19.5500  169.2667
25     Kinablangan      PH     85.46   7.6947  126.5503
26             Gao      ML     82.20  16.6362    1.6370

In [30]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found..skipping")

Hotel not found..skipping

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Luancheng,CN,79.29,37.8792,114.6517,Shell Hebei Shijiazhuang Luancheng Xinyuan Roa...
5,Tabou,CI,75.25,4.4230,-7.3528,hotêl doufoulougou
12,Cozumel,MX,76.95,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
15,Cabo San Lucas,MX,79.52,22.8909,-109.9124,Hotel Tesoro Los Cabos
17,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
18,Koumac,NC,78.80,-20.5667,164.2833,Le Monitel
21,Saint George,US,82.94,37.1041,-113.5841,Best Western Plus Abbey Inn
24,Isangel,VU,80.06,-19.5500,169.2667,Tanna Lodge
25,Kinablangan,PH,85.46,7.6947,126.5503,Morales Eatery and Lodging House
26,Gao,ML,82.20,16.6362,1.6370,

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Shell Hebei Shijiazhuang Luancheng Xinyuan Road Hotel</dd>\n<dt>City</dt><dd>Luancheng</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Max Temp</dt><dd>79.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>hotêl doufoulougou</dd>\n<dt>City</dt><dd>Tabou</dd>\n<dt>Country</dt><dd>CI</dd>\n<dt>Max Temp</dt><dd>75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cozumel Palace® All Inclusive Resort</dd>\n<dt>City</dt><dd>Cozumel</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>76.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>79.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Max Temp</dt><dd>75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Monitel</dd>\n<dt>City</dt><dd>Koumac</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Max Temp</dt><dd>78.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>82.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Max Temp</dt><dd>80.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Morales Eatery and Lodging House</dd>\n<dt>City</dt><dd>Kinablangan</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>85.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Gao</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Max Temp</dt><dd>82.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Waigo Splash Hotel</dd>\n<dt>City</dt><dd>Sorong</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>80.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Screensaver</dd>\n<dt>City</dt><dd>Harper</dd>\n<dt>Country</dt><dd>LR</dd>\n<dt>Max Temp</dt><dd>75.7 °F</dd>\n</dl>\n']

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))