## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kununurra,AU,100.38,scattered clouds,-15.7667,128.7333,Hotel Kununurra
1,7,Sanmenxia,CN,81.59,scattered clouds,34.7747,111.1814,Pengzhou Hotel
2,14,Kapaa,US,82.38,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,18,Kloulklubed,PW,84.76,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
4,23,Padang,ID,82.45,broken clouds,-0.9492,100.3543,Mercure Padang

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather<dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
vacation_df.groupby('Country').count()['City_ID']

Country
AE     1
AF     1
AI     1
AU     8
BB     2
BR     1
BS     1
CN     8
EG     2
HK     1
ID    15
IN     9
IQ     2
IR     5
JM     1
JP     5
KI     1
LK     2
MG     2
MR     1
MV     4
MX     1
MY     4
NE     1
NI     1
NP     1
OM     3
PG     5
PH     6
PK     4
PW     1
SA     2
SD     1
SO     2
TC     1
TD     1
TH     2
TM     2
US    10
UZ     1
VN     2
VU     2
YE     1
ZW     1
Name: City_ID, dtype: int64

In [32]:
pick = vacation_df.loc[vacation_df['Country']=='AU']
pick.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kununurra,AU,100.38,scattered clouds,-15.7667,128.7333,Hotel Kununurra
12,69,Biloela,AU,84.15,scattered clouds,-24.4167,150.5000,Silo Motor Inn Biloela
14,106,Karratha,AU,87.01,clear sky,-20.7377,116.8463,ibis Styles Karratha
24,165,Mount Isa,AU,85.77,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
41,276,Alice Springs,AU,85.55,clear sky,-23.7000,133.8833,Desert Palms Alice Springs

In [63]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Kununurra']
vacation_end = vacation_df.loc[vacation_df['City']=='Kununurra']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Mount Isa']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Nhulunbuy'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Port Hedland']

In [38]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kununurra,AU,100.38,scattered clouds,-15.7667,128.7333,Hotel Kununurra

In [69]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [tuple(x) for x in vacation_start[['Lat','Lng']].to_numpy()][0]
end = [tuple(x) for x in vacation_end[['Lat','Lng']].to_numpy()][0]
stop1 = [tuple(x) for x in vacation_stop1[['Lat','Lng']].to_numpy()][0]
stop2 = [tuple(x) for x in vacation_stop2[['Lat','Lng']].to_numpy()][0]
stop3 = [tuple(x) for x in vacation_stop3[['Lat','Lng']].to_numpy()][0]
start

(-15.7667, 128.7333)

In [78]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
route = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode= 'BICYCLING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kununurra,AU,100.38,scattered clouds,-15.7667,128.7333,Hotel Kununurra
1,165,Mount Isa,AU,85.77,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
2,300,Nhulunbuy,AU,90.21,scattered clouds,-12.2333,136.7667,East Arnhem Real Estate
3,632,Port Hedland,AU,95.05,few clouds,-20.3167,118.5667,The Esplanade Hotel
4,1,Kununurra,AU,100.38,scattered clouds,-15.7667,128.7333,Hotel Kununurra

In [75]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather<dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [77]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))